
.majors-content-wrapper {  
  display: block;
  
}
.majors-content-wrapper >.div {  
  justify-content: center;
  justify-content: space-between;
  padding:10px;
  font-size: 0.9rem; 
}

.major-title{
  border: 1px solid black;
  font-size:25px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.nav-link-wrapper{
  padding-left:10px;
  padding-top:8px;
  color:black;
}
.nav-link-wrapper > .a{
  color:black;
}
/* Major Columns */

.first-row{
  padding-left:35px; 
}
.second-row{
  padding-left:35px; 
}

.first-row > .science {
  display: block;
  float: left;
  padding-right:10px;
}

.first-row > .art {
  display: block;
  float: left;
  padding-right:10px;
}
.first-row > .humanities {
  display: block;
  float: left; 
  padding-right:10px;
}

.second-row > .social-science{
  display:block;
  float:left;
}

.second-row > .eng-tech{
  display:block;
  float:left;
  padding-bottom: 100px;
}

/* Footer */
.majorFooter .h1 {
  text-align: center;
  height:200px;
  width:200px;
}

