
/* Master Stlyes */
body{
  margin: 0px;
  background-color: rgb(191, 194, 199);
  /* orignal has 8px, we remove it and put it to 0 */
}

.content-wrapper{
    margin:0px;
}

/* Portfolio styles */
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  height:250px;
  width:250px;
  /* set the space between each box */
  /* Making the content smaller into the box */
  padding-left:110px;
}

.item-wrapper{
  width: 250px;
  height: 250x;
  padding:0px;
}

.item-wrapper:hover{
  transform:scale(1.1);
  transition: transform 1s;
  overflow: hidden;
  
}


img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  /* set the size of the images in grid boxes */
  object-fit: cover;
  /* Make the image fit in the grid boxes */
  border-radius: 30px;
  /* set round corner of images */
  padding-left: 0px;

}

  
.subtitle{
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
}
a:link{
  text-decoration: none;
}


/* NAV BAR */
.nav-wrapper { 
  margin: 0px;
  font-family: "Lato", sans-serif;
  justify-content: space-between;
  padding: 38px 45px 38px 45px;
}
container {
  display: grid;
  grid-template-columns: 1fr;
}
.nav-wrapper > .left-side > div {
  float: left;
  margin-right: 20px; /*adjust the spacing of 20px between home and majors*/
  text-transform: uppercase; /*convert text to uppercase*/
  font-size: 0.9rem; /*font size*/
}
.nav-wrapper > .right-side > div {
  float: right;
  margin-left: 20px; /*adjust the spacing of 20px between signIn and logIn*/
  text-transform: uppercase; /*convert text to uppercase*/
  font-size: 0.9rem; /*font size*/
}
.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  /*transition: border-bottom 0.5s;*/
}
.active-nav-link {
  border-bottom: 1px solid black;
}
.active-nav-link a {
  color: black !important;
}
.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link-wrapper:hover { /*it gets darker when you hover you mouse under home,careers,etc*/
  border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover {
  color: black;
}

/* Footer */
.footer{
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight:normal;
  padding-top:3350px;
  padding-bottom: 20px;
}

/* Title in Major demo site */
.courseHeading{
  text-align: center;
  color: rgb(199, 81, 81);;
  font-size: 30px;
  margin:0;
}
.commonCourse{
  color: rgb(199, 81, 81);;
  font-size: 20px;
  padding-left: 115px;
  padding-bottom: 10px;
}
.courseSeperate{
  color: rgb(199, 81, 81);;
  font-size: 20px;
  padding-bottom: 10px;
}
/* INTEREST TITLE */
h3{
  margin:0px; /* Make margin 0px for interest field */
}

h4{
  margin:0px;
  padding-top:8px;
  color:teal;
}